{% load static %}
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title> MITSUI | {% block title %}  {% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            {% block menu %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">MITSUI AUTOMOTRIZ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">TALLER MITSUI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTANOS</a>
                </li>
            </ul>
            {% endblock %}
        </div>
    </nav>
    {% block content %}

    {% endblock %}

    <div class="container-fluid footer mt-5">
        <div class="row">
            <div class="col-lg-10 col-sm-9">
                <span>Calle Villa Hermosa 1151 Cerro Colorado, Arequipa</span>
                <span>Av. Tintaya 703 (Cruce con Av. Pacífico y Av. Tintaya) Espinar, Cusco</span>
                <span>Bariio Señor de Huanca, S/N Sector Nangra, Comunidad de Carmen Alto, Challhuahuacho, Apurímac</span>
            </div>
            <div class="col-lg-2 col-sm-3 footer-social">
                <h4>Conócenos</h4>
                <a target="_blank" href="https://www.facebook.com/mitsuiaqp/"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://www.instagram.com/mitsuiarequipa/"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://wa.me/+51923262166"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>