{% extends 'base.html' %}
{% load static %}
{% block title %} Bienvenido {% endblock %}

{% block menu %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://www.mitsuiautomotriz.com/">MITSUI AUTOMOTRIZ <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">TALLER MITSUI</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/servicios/">SERVICIOS</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/contacto/">CONTACTANOS</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 no-padding">
            <img class="banner-img img-fluid" src="{% static 'images/contacto-banner.jpg' %}">
            <h1 class="banner-services-text">CONTÁCTANOS</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-padding first-service">
        <div class="col-sm-6 pt-4">
            <form>
                <div class="form-row">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" name="name" placeholder="NOMBRE">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" name="email" placeholder="EMAIL">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-sm-12">
                        <textarea class="form-control" name="message" rows="10" placeholder="MENSAJE"></textarea>
                    </div>
                </div>
                <div class="form-row mt-5">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary sendbutton">ENVIAR</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 text-right">
            <iframe class="map-contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1774.6320444654373!2d-71.56249993137114!3d-16.363369691391814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a02dc6956b5%3A0xc61c757c9da3932d!2sVilla+Hermosa+1151%2C+Arequipa!5e0!3m2!1ses!2spe!4v1535587202017" 
                width="95%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            <span class="map-address"><i class="fas fa-map-marker-alt"></i> CALLE VILLA HERMOSA 1151 CERRO COLORADO - AREQUIPA</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-6 social-contact">
            <div>
                <a class="social-link" href="https://www.facebook.com/mitsuiaqp/" target="_blank"><span><i class="fab fa-facebook-f"></i></span> MITSUIAQP</a>
                <a class="social-link" href="https://www.instagram.com/mitsuiarequipa/"><span><i class="fab fa-instagram"></i></span> MITSUIAREQUIPA</a>
                <a class="social-link" href="https://wa.me/+51923262166" target="_blank"><span><i class="fab fa-whatsapp"></i></span> SOLICITA UNA CITA</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <iframe class="fb-comments-contact" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmitsuiaqp%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=404847729545540" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>
{% endblock %}