{% extends 'base.html' %}
{% load static %}
{% block title %} Bienvenido {% endblock %}

{% block menu %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://www.mitsuiautomotriz.com/">MITSUI AUTOMOTRIZ <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/">TALLER MITSUI</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/servicios/">SERVICIOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacto/">CONTACTANOS</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 no-padding">
            <img class="banner-img img-fluid" src="{% static 'images/banner-home.jpg' %}">
            <h1 class="banner-text">Ahora estás en manos de los CAMPEONES</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="title-home">BIENVENIDO AL TALLER MITSUI</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-12 no-padding">
            <img class="banner-img img-fluid" src="{% static 'images/services.jpg' %}">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-1"></div>
        <div class="col-sm-3 home-services">
            <span class="service-black">LUBRI</span> <span class="service-blue">EXPRESS</span>
        </div>
        <div class="col-sm-4 text-center home-services">
            <span class="service-black">REVISIÓN</span> <span class="service-blue">BÁSICA</span>
        </div>
        <div class="col-sm-3 text-right home-services">
            <span class="service-black">REVISIÓN</span> <span class="service-blue">INTEGRAL</span>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row justify-content-center buttons-home">
        <div class="col-lg-4 col-sm-5 text-center">
            <a class="button-home" target="_blank" href="https://wa.me/+51923262166">Solicítalo ya</a>
            <a class="button-whatsapp" target="_blank" href="https://wa.me/+51923262166"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</div>
{% endblock %}
