{% extends 'base.html' %}
{% load static %}
{% block title %} Bienvenido {% endblock %}

{% block menu %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://www.mitsuiautomotriz.com/">MITSUI AUTOMOTRIZ <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">TALLER MITSUI</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/servicios/">SERVICIOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacto/">CONTACTANOS</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 no-padding">
            <img class="banner-img img-fluid" src="{% static 'images/banner-services.jpg' %}">
            <h1 class="banner-services-text">SERVICIOS</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row w-padding first-service">
        <div class="col-sm-4 desc-info">
            <h3>LUBRI</h3>
            <h3>EXPRESS</h3>
            <ul>
                <li>Cambio de aceite de motor</li>
                <li>Cambio de Filtro de aceite</li>
                <li>Cambio empaque del tapón del carter</li>
            </ul>
        </div>
        <div class="col-sm-8 p-relative">
            <img class="w-100" src="{% static 'images/service1.jpg' %}">
            <div class="price-right">
                <h5 class="w-100 text-right">PRECIO:</h5>
                <h1>s<span class="price-bigger">/60.</span>00</h1>
            </div>
            <div class="description-left">
                <div class="bg-blue-description">
                    <div class="col-sm-12">
                        <h5 class="desc-title text-center">Y ADEMÁS REVISIÓN DE 19 PUNTOS:</h5>
                    </div>
                    <div class="col-sm-10 desc-min">
                        <h5 class="desc-title2 text-center">ESCANEO<span class="desc-span">DE MOTOR</span></h5>
                        <h5 class="desc-title2 desc-left text-center">LUCES<span class="desc-span">EXTERNAS/</span><span class="desc-span">INTERNAS</span></h5>
                    </div>
                    <div class="col-sm-10 desc-min">
                        <h5 class="desc-title2 text-center">GUARDAPOLVOS<span class="desc-span">DE PALIER</span></h5>
                        <h5 class="desc-title2 desc-left text-center">NIVELES<span class="desc-span">EN GENERAL</span></h5>
                    </div>
                    <div class="col-sm-10 desc-min">
                        <h5 class="desc-title2 text-center">PASTILLAS<span class="desc-span">Y ZAPATAS DE FRENO</span></h5>
                        <h5 class="desc-title2 desc-left text-center">ESTADO<span class="desc-span">DE NEUMATICOS</span></h5>
                    </div>
                    <div class="col-sm-10 pt-3 desc-amorti">
                        <h5 class="desc-title2 w-100 text-center">AMORTIGUADORES</h5>
                    </div>
                </div>
                <div class="col-sm-11 mt-2">
                    <h6 class="flag-service text-center">USAMOS REPUESTOS ORIGINALES <i class="far fa-handshake"></i></h6>
                </div>
                <div class="col-sm-12 mt-4 text-center">
                    <a class="button-servicios" target="_blank" href="https://wa.me/+51923262166">Solicítalo ya</a>
                    <a class="button-whatsapp-servicios" target="_blank" href="https://wa.me/+51923262166"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 desc-info display-mobil mt-5">
            <h3>Paquete</h3>
            <h3>de revisión</h3>
            <h3>Básica</h3>
            <ul>
                <li>Revisión de niveles</li>
                <li>Revisión de presión de llantas</li>
                <li>Revisión de luces</li>
                <li>Lavado de Carrocería</li>
            </ul>
        </div>

        <div class="col-sm-8 p-relative mt-5">
            <img class="w-100" src="{% static 'images/service2.jpg' %}">
            <div class="price-left">
                <h5 class="w-100 text-right">PRECIO:</h5>
                <h1>s<span class="price-bigger">/30.</span>00</h1>
            </div>
            <div class="description-right service3-desc">
                <div class="col-sm-11 mt-2">
                    <h6 class="flag-service text-center">USAMOS REPUESTOS ORIGINALES <i class="far fa-handshake"></i></h6>
                </div>
                <div class="col-sm-12 mt-4 text-center">
                    <a class="button-servicios" target="_blank" href="https://wa.me/+51923262166">Solicítalo ya</a>
                    <a class="button-whatsapp-servicios" target="_blank" href="https://wa.me/+51923262166"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 desc-info-right mt-5">
            <h3>Paquete</h3>
            <h3>de revisión</h3>
            <h3>Básica</h3>
            <ul>
                <li>Revisión de niveles</li>
                <li>Revisión de presión de llantas</li>
                <li>Revisión de luces</li>
                <li>Lavado de Carrocería</li>
            </ul>
        </div>


        <div class="col-sm-4 desc-info mt-5">
            <h3>Paquete</h3>
            <h3>de revisión</h3>
            <h3>Integral</h3>
            <ul>
                <li>Revisión de suspensión</li>
                <li>Revisión de frenos</li>
                <li>Revisión de dirección</li>
                <li>Lavado de Carrocería</li>
                <li>Escaneado</li>
            </ul>
        </div>

        <div class="col-sm-8 p-relative mt-5">
            <img class="w-100" src="{% static 'images/service3.jpg' %}">
            <div class="price-right">
                <h5 class="w-100 text-right">PRECIO:</h5>
                <h1>s<span class="price-bigger">/60.</span>00</h1>
            </div>
            <div class="description-left service3-desc">
                <div class="col-sm-11 mt-2">
                    <h6 class="flag-service text-center">USAMOS REPUESTOS ORIGINALES <i class="far fa-handshake"></i></h6>
                </div>
                <div class="col-sm-12 mt-4 text-center">
                    <a class="button-servicios" target="_blank" href="https://wa.me/+51923262166">Solicítalo ya</a>
                    <a class="button-whatsapp-servicios" target="_blank" href="https://wa.me/+51923262166"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}