@font-face {
    font-family: 'exo';
    src: url('../fonts/Exo-Regular.ttf');
}

@font-face {
    font-family: 'exo-bold';
    src: url('../fonts/Exo-Bold.ttf');
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-nav {
    margin-right: 40px;
}

.nav-item .nav-link {
    font-family: 'exo';
    font-size: 1.2rem;
    color: #000 !important;
    font-weight: 900;
    padding-right: 1.3rem !important;
    padding-left: 1.3rem !important;
}

.nav-item.active .nav-link {
    background: #0072ba;
    color: #ffffff !important;
    padding: .2rem 1rem;
    border-radius: 1rem;
}

.nav-item.active {
    padding-top: .3rem;
}

.banner-img {
    width: 100%;
}

.title-home {
    font-family: 'exo-bold';
    font-size: 6rem;
    margin-top: 2rem;
    color: #0072ba;
    font-weight: bolder;
}

.footer {
    background: #0072ba;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'exo';
}

.footer span {
    display: block;
    color: #ffffff;
}

.footer h4 {
    color: #ffffff;
}

.footer a {
    color: #0072ba;
    font-size: 1.4rem;
    background: #ffffff;
    display: inline-block;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding-top: .5rem;
}

.banner-text {
    font-family: 'exo';
    position: absolute;
    left: 5%;
    top: 40%;
    color: #ffffff;
    width: 30%;
    font-size: 4rem;
}

.service-black {
    font-family: 'exo';
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}

.service-blue {
    font-family: 'exo-bold';
    color: #0272ba;
    font-size: 1.5rem;
}

.button-home {
    background: #0079b6; /* Old browsers */
    background: -moz-linear-gradient(top, #0079b6 1%, #2989d8 50%, #207cca 100%, #0064ad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0079b6 1%,#2989d8 50%,#207cca 100%,#0064ad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0079b6 1%,#2989d8 50%,#207cca 100%,#0064ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079b6', endColorstr='#0064ad',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 15px;
    font-family: 'exo';
}

.button-home:hover, .button-whatsapp:hover {
    text-decoration: none;
    color: #ffffff;
}

.button-whatsapp {
    color: #ffffff;
    font-size: 3rem;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    padding-top: 1.5rem;
    margin-left: 1rem;
    background: #2ace3f; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #2ace3f 1%, #20a630 100%, #207cca 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #2ace3f 1%,#20a630 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #2ace3f 1%,#20a630 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ace3f', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.buttons-home {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.description-right {
    width: 37%;
    font-family: 'exo';
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-services-text {
    font-family: 'exo-bold';
    position: absolute;
    color: #ffffff;
    width: 100%;
    font-size: 5rem;
    top: 15%;
    text-align: center;
}

.w-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.first-service {
    margin-top: 6rem;
}

.price-right {
    font-family: 'exo-bold';
    position: absolute;
    bottom: 0;
    left: -5%;
    color: #ffffff;
    background: #0071b5;
    padding: 2rem 1.5rem;
}

.description-left {
    width: 37%;
    font-family: 'exo';
    position: absolute;
    top: 20%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-blue-description {
    color: #ffffff;
    background: #0071b5;
    border-radius: 5px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description-left .desc-title {
    padding-bottom: .5rem;
    border-bottom: 1px solid #ffffff;
    font-size: 110%;
}

.desc-title2 {
    display: inline-flex;
    flex-direction: column;
    width: 49%;
    font-size: 100%;
}

.desc-span {
    display: block;
    font-size: 70%;
}

.desc-min {
    border-bottom: 1px solid #ffffff;
    padding: 0.3rem 0;
}

.desc-left {
    position: relative;
}

.desc-left:before {
    content: '';
    height: 60%;
    width: 1px;
    position: absolute;
    left: 0;
    top: 20%;
    background-color: #ffffff;
}

.price-bigger {
    font-size: 3.5rem;
}

.desc-info {
    font-family: 'exo-bold';
    padding-left: 5%;
    margin-top: 5px;
}
.desc-info h3 {
    color: #0071b5;
    line-height: 1.5rem;
}

.desc-info ul {
    margin-top: 3rem;
    margin-left: -10%;
}

.flag-service {
    background: #ffffff;
    color: #0071b5;
    font-family: 'exo-bold';
    padding: .2rem .5rem;
    border-radius: 5px;
    font-style: italic;
}

.flag-service i {
    margin-left: .2rem;
}

.button-servicios {
    color: #0071b5;
    font-size: 1.8rem;
    padding: .8rem;
    border-radius: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e2e2e2+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e2e2e2 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e2e2e2 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ffffff 0%,#e2e2e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.button-servicios:hover {
    text-decoration: none;
    color: #0071b5;
}

.button-whatsapp-servicios {
    color: #ffffff;
    font-size: 2.5rem;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    padding-top: .75rem;
    margin-left: 1rem;
    background: #2ace3f; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #2ace3f 1%, #20a630 100%, #207cca 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #2ace3f 1%,#20a630 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #2ace3f 1%,#20a630 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ace3f', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.button-whatsapp-servicios:hover {
    color: #ffffff;
    text-decoration: none;
}

.service3-desc {
    bottom: 10%;
    display: block;
    top: auto;
}

.price-left {
    font-family: 'exo-bold';
    position: absolute;
    bottom: 0;
    right: -15%;
    color: #ffffff;
    background: #0071b5;
    padding: 2rem 1.5rem;
}

.desc-info-right {
    font-family: 'exo-bold';
    padding-left: 15%;
    margin-top: 5px;
}
.desc-info-right h3 {
    color: #0071b5;
    line-height: 1.5rem;
}

.desc-info-right ul {
    margin-top: 3rem;
    margin-left: -10%;
}

.map-contact {
    border: 8px solid #0071b7 !important;
    -webkit-box-shadow: 0px 5px 52px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 52px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 52px -7px rgba(0,0,0,0.75);
}

.map-address {
    color: #000000;
    font-family: 'exo';
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;
    display: block;
    padding-left: 10%;
    text-align: center;
}

.map-address i {
    color: #0071b7;
}

.social-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-contact .social-link:hover {
    color: #0071b7;
    text-decoration: none;
}

.social-contact .social-link {
    display: block;
    color: #0071b7;
    font-family: 'exo';
    font-size: 2rem;
    margin-bottom: .5rem;
}
.social-contact .social-link span{
    background: #0071b7;
    color: #ffffff;
    width: 55px;
    height: 55px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    padding-top: 13px;
    margin-right: 1rem;
}

input {
    height: 3rem !important;
    background: #dbdbdb !important;
    border: 1px solid #a7a7a7 !important;
    color: #939393 !important;
    font-family: 'exo';
}

textarea {
    background: #dbdbdb !important;
    border: 1px solid #a7a7a7 !important;
    color: #939393 !important;
    font-family: 'exo';
}

.sendbutton {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0076b2+0,005fa9+100 */
    background: #0076b2; /* Old browsers */
    background: -moz-linear-gradient(top, #0076b2 0%, #005fa9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0076b2 0%,#005fa9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0076b2 0%,#005fa9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0076b2', endColorstr='#005fa9',GradientType=0 ); /* IE6-9 */
    font-size: 2rem;
    font-family: 'exo';
    padding: .5rem 1rem;
    border-radius: 10px;
}
.display-mobil {
    display: none;
}