/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-light .navbar-brand {
        width: 55%;
    }
    .navbar-brand img {
        width: 100%;
        height: auto;
    }
    .banner-text {
        font-size: 1rem;
        top: 20%;
    }
    .title-home {
        font-size: 1.2rem;
    }
    .home-services {
        text-align: center !important;
    }
    .home-services span{
        font-size: 1.2rem;
    }
    .button-home {
        font-size: 1.2rem;
        padding: 1rem;
    }
    .button-whatsapp {
        font-size: 2rem;
        width: 60px;
        height: 60px;
        padding-top: .8rem;
    }
    .buttons-home {
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .footer span {
        font-size: .8rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .footer h4 {
        text-align: center;
        font-size: 1.3rem;
    }
    .footer-social {
        text-align: center;
    }
    .banner-services-text {
        font-size: 2rem;
    }
    .first-service {
        margin-top: 2rem;
    }
    .desc-info ul {
        margin-top: 1rem;
    }
    .price-right {
        position: relative;
        left: 0;
    }
    .description-left {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        margin-top: .5rem;
        bottom: auto;
    }
    .price-left {
        position: relative;
        right: auto;
        bottom: auto;
    }
    .description-right {
        position: relative;
        width: 100%;
        left: auto;
        bottom: auto;
    }
    .button-servicios {
        font-size: 1.3rem;
        display: block;
        margin-bottom: 10px;
    }    
    .display-mobil {
        display: block !important;
    }
    .desc-info-right {
        display: none;
    }
    .w-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .sendbutton {
        font-size: 1.2rem;
        margin-top: -1.5rem;
    }
    .map-contact {
        width: 100%;
        box-shadow: none;
        border: none !important;
    }
    .social-contact .social-link {
        font-size: 1.2rem;
    }
    .social-contact .social-link span {
        width: 40px;
        height: 40px;
        padding-top: 10px;
        margin-right: .5rem;
    }
    .social-contact {
        margin-bottom: 1rem;
    }
    .fb-comments-contact {
        width: 100%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min--width: 600) and (max--width: 768px) {
    .banner-text {
        font-size: 2rem;
    }
    .title-home {
        font-size: 3rem;
    }
    .service-black, .service-blue {
        font-size: 1.1rem;
    }
    .button-home {
        font-size: 1.5rem;
        padding: 1rem;
    }
    .button-whatsapp {
        font-size: 2.2rem;
        width: 60px;
        height: 60px;
        padding-top: .65rem;
        margin-left: 0.5rem;
    }
    .buttons-home {
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .footer span {
        font-size: .9rem;
    }
    .footer h4 {
        font-size: 1.3rem;
    }
    .footer a {
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
    }
    .footer-social {
        text-align: right;
    }
    .banner-services-text {
        font-size: 3.5rem;
    }
    .price-right {
        position: relative;
        left: auto;
        width: 100%;
        display: block;
    }
    .price-right h1 {
        font-size: 1.3rem;
    }
    .price-bigger {
        font-size: 2rem;
    }
    .description-left {
        position: relative;
        width: 100%;
        display: block;
        top: 0;
        right: auto;
    }
    .bg-blue-description {
        display: block;
    }
    .desc-min {
        flex: 1;
        max-width: 100%;
    }
    .price-right h1 {
        text-align: center;
    }
    .desc-amorti {
        max-width: 100%;
    }
    .desc-info-right {
        padding-left: 5%;
    }
    .price-left {
        position: relative;
        right: 0;
    }
    .price-left h1 {
        text-align: center;
        font-size: 1.3rem;
    }
    .description-right {
        position: relative;
        top: 0;
        width: 100%;
    }
    .sendbutton {
        font-size: 1.3rem;
    }
    .social-contact .social-link {
        font-size: 1.5rem;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}